<div class="input-group my-3">
  <input type="text" [(ngModel)]="SearchElem" class="form-control" type="search" placeholder="Enter a Phone Number" aria-label="Search">
  <button class="btn btn-outline-success" type="submit" (click)="SearchForSubs()">Search</button>
</div>
<div class="row" *ngIf="CheckIfPostsArray()">
  <div class="col-md-4" *ngFor="let product of posts">
    <div class="card">
      <img src="../../assets/damacana.jpg" class="card-img-top" alt="damacana.jpg">
      <div class="card-body">
        <div class="card-text text-center">
          <p><strong>Subscription Id : </strong>{{ product.subscriptionId}}</p>
          <p><strong>Name : </strong>{{ product.fullaname}}</p>
          <p><strong>Address : </strong>{{ product.address}}</p>
          <p><strong>Location : </strong>{{ product.locationName}}</p>
          <p><strong>SubCity : </strong>{{ product.subCityName}}</p>
          <p><strong>CityName : </strong>{{ product.cityName}}</p>
          <p><strong>Brand : </strong>{{ product.brand}}</p>
          <p><strong>Phone Number : </strong>{{ product.phoneNumber}}</p>
          <p><strong>Distributor Number : </strong>{{ product.distributorNumber}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center" *ngIf="!CheckIfPostsArray()">
  {{ posts }}
</div>
